<br>
<br>
<h1>Editar Peliculas</h1>
<br>
<%= render "form", movie: @movie %>

<br>
<br>
<div>
  <%= link_to "Mostrar Película", @movie, class:"btn btn-info"%> |
  <%= link_to "Volver a Películas", movies_path, class:"btn btn-primary" %>
</div>
