<br>
<br>
<h1>Ingreso de Arriendos y/o Nuevos Estrenos</h1>
<br>
<br>
<%= render "form", movie: @movie %>
<br>
<br>
<div>
  <%= link_to "Volver a películas", movies_path, class:"btn btn-primary mb-5" %>
</div>
