<br>
<br>
<h1>Editar Clientes</h1>
<br>
<%= render "form", client: @client %>

<br>
<br>
<div>
  <%= link_to "Mostrar Cliente", @client, class:"btn btn-info" %> 
  <%= link_to "Volver a Clientes", clients_path, class:"btn btn-primary"%>
</div>
